#### 1. dataset

In [1]:
from sklearn.datasets import load_iris

In [2]:
iris_data=load_iris()
print(type(iris_data)) ##bunch는 sklearn에서 제공해주는 class이다, 딕셔너리 구성과 비슷하다.

<class 'sklearn.utils.Bunch'>

In [4]:
iris_data.keys() ##키를 보여줘라

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [6]:
##data info -> data.info()라고 하면 안나온다. 왜냐면 이건 판다스에서 사용하는 것이여서
iris_data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
iris_data.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [8]:
iris_data.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

#### dataframe으로 만들기

In [12]:
import pandas as pd
import numpy as np
iris_df = pd.DataFrame(data = np.c_[iris_data['data'], iris_data['target']], columns = iris_data['feature_names'] + ['target']) 
iris_df['target'] = iris_df['target'].map({0:"setosa", 1:"versicolor", 2:"virginica"})
##판다스로 iris의 array구조 데이터를 데이터프레임으로 만들어주었기 때문에, info를 통해 데이터구조를 확인할 수 있다.

In [13]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [16]:
import sklearn
sklearn.__version__

'0.24.1'

In [17]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [18]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [19]:
iris_df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

#### 2.Methodology

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
dt_clf = DecisionTreeClassifier()

#### 3. Train_test_split

In [22]:
from sklearn.model_selection import train_test_split

In [24]:
##iris데이터에서 가져오기
##test_size -> 전체 데이터의 30%를 test size로 쓰겠다.(벨리데이션에 사용할 데이터를 30% 주었다.)
##random_state -> 기준을 정해준다. 훈련을 똑같은 것으로 지정해준다. 즉, 121번 방법으로 데이터 모델을 돌리겠다.
  #->즉, 똑같은 훈련을 반복하기 위해서 하는 것이다.
X_train, X_test, y_train, y_test = train_test_split(iris_data.data, iris_data.target,test_size=0.3, random_state=121)

In [26]:
##X_train에 대한 레이블(정답)이 y_train이다.
y_train

array([2, 2, 0, 1, 0, 0, 0, 0, 1, 1, 0, 2, 2, 1, 0, 0, 1, 0, 2, 2, 0, 0,
       2, 2, 1, 2, 2, 1, 1, 2, 1, 2, 1, 0, 2, 0, 1, 1, 2, 1, 0, 1, 2, 2,
       2, 0, 2, 0, 2, 2, 0, 0, 2, 0, 1, 2, 2, 0, 2, 0, 1, 0, 2, 0, 2, 1,
       0, 2, 0, 0, 2, 0, 1, 2, 1, 2, 0, 1, 1, 2, 0, 2, 1, 2, 1, 2, 1, 0,
       2, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1])

#### 4. 학습

In [31]:
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [35]:
## 2021년 수능을 보는 행위는 --> X_test를 의미한다.
## 2021년 수능에 대한 답안이 --> y_test를 의미한다.
## prediction은 내가 학습을 잘했는지(X_train)에 대한 결과를 확인하는 것을 의미한다. 
## --> 그렇기 때문에 시험지에 해당하는 X_test만 봐야한다.
pred = dt_clf.predict(X_test)
pred ##내 답안(X_test)을 의미한다.

array([1, 2, 1, 0, 0, 1, 1, 1, 1, 2, 2, 1, 1, 0, 0, 2, 1, 0, 2, 0, 2, 2,
       1, 1, 1, 1, 0, 0, 2, 2, 1, 2, 0, 0, 1, 2, 0, 0, 0, 2, 2, 2, 2, 0,
       1])

#### 5. 성능검사지표 - confusion matrix

In [ ]:
## 내 답안이랑 정답과의 일치도를 살펴본다.(정확도)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
score = accuracy_score(y_test, pred)
score ##내 점수는 95점이다.. 하하

0.9555555555555556

In [39]:
print('1차 모델 평가(예측정확도): {0:.2f}'.format(score))

1차 모델 평가(예측정확도): 0.96

#### 6.하이퍼 파라미터 튜닝(GridSearchCV)

In [42]:
from sklearn.model_selection import GridSearchCV

In [40]:
dtree = DecisionTreeClassifier()
##()안에는 파라미터가 들어가야한다.

parameters = {'max_depth':[1,2,3], 'min_samples_split':[2,3]}
##depth1 일때 2,3 돌리고, depth2일떄, 2,3돌리고, 그래서 경우의 수가 6이다. 6번 훈련시킨것이다.

In [44]:
## GridSearchCV를 활용한 모델 만들기
grid_dtree = GridSearchCV(dtree, param_grid = parameters, cv=3, refit = True)
##cv=3 -->은 벨리데이션을 3번 돌려라(벨리데이션 정보를 3개로 쪼개서 봐라)

In [45]:
## 2차 훈련시키기
grid_dtree.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [1, 2, 3], 'min_samples_split': [2, 3]})

In [49]:
## GridSearchCV 훈련 결과
score_df = pd.DataFrame(grid_dtree.cv_results_)
score_df[['params', 'mean_test_score', 'rank_test_score', 'split0_test_score','split1_test_score', 'split2_test_score' ]]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.657143,5,0.657143,0.657143,0.657143
1,"{'max_depth': 1, 'min_samples_split': 3}",0.657143,5,0.657143,0.657143,0.657143
2,"{'max_depth': 2, 'min_samples_split': 2}",0.933333,3,0.942857,0.914286,0.942857
3,"{'max_depth': 2, 'min_samples_split': 3}",0.933333,3,0.942857,0.914286,0.942857
4,"{'max_depth': 3, 'min_samples_split': 2}",0.942857,1,0.971429,0.914286,0.942857
5,"{'max_depth': 3, 'min_samples_split': 3}",0.942857,1,0.971429,0.914286,0.942857

In [50]:
print('GridSearchCV의 최적 파라미터:', grid_dtree.best_params_)
print('하이퍼파리미터 적용 최고 정확도: {0:.2f}'.format(grid_dtree.best_score_))

GridSearchCV의 최적 파라미터: {'max_depth': 3, 'min_samples_split': 2}
하이퍼파리미터 적용 최고 정확도: 0.94

In [53]:
## 테스트 데이터셋 결과 확인
## grid_dtree는 하이퍼파라미터가 적용된 모델이다. 그리고 우리는 그것을 가지고 6번을 훈련하였다.
## 그래서 그 중에서 가장 제일 잘 된조건의 파라미터을 뽑은 것을 estimator로 부르겠다.
estimator = grid_dtree.best_estimator_ 

grid_pred = estimator.predict(X_test)
print('테스트데이터셋 결과 확인: {0:.2f}'.format(accuracy_score(y_test, grid_pred))) ##결과의 정확도

##이럴경우네는 굳이 하이퍼파라미터 튜닝이 필요없다.

테스트데이터셋 결과 확인: 0.96

#### 7. Decision Tree 시각화

In [ ]:
graphviz #decision tree를 시각화하는 모듈이다.

In [55]:
!pip install graphviz

Collecting graphviz
  Downloading graphviz-0.17-py3-none-any.whl (18 kB)
Installing collected packages: graphviz
Successfully installed graphviz-0.17

In [58]:
from sklearn.tree import export_graphviz

In [59]:
import graphviz

In [63]:
export_graphviz(dt_clf, out_file = "tree.dot", class_names = iris_data.target_names,\
                feature_names = iris_data.feature_names, impurity = True, filled = True)

In [ ]:
## 생선된